<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.HexTechGDUT.dao.UserMapper">

    <resultMap id="UserMap" type="User">
        <id property="id" jdbcType="INTEGER" column="id"/>
        <result property="userId" jdbcType="VARCHAR" column="user_id"/>
        <result property="userName" jdbcType="VARCHAR" column="user_name"/>
        <result property="phoneNumber" jdbcType="VARCHAR" column="phone_number"/>
        <result property="password" jdbcType="VARCHAR" column="password"/>
        <result property="userType" jdbcType="INTEGER" column="userType"/>
        <result property="contactAddress" jdbcType="VARCHAR" column="contact_address"/>
        <result property="additionalInformation" jdbcType="LONGVARCHAR" column="additional_information"/>
        <result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
        <result property="updateTime" jdbcType="TIMESTAMP" column="update_time"/>
    </resultMap>

    <select id="queryUserByUidFromMapper" resultMap="UserMap" parameterType="String">
        select * from stray_animals_management_system.user where user_id = #{uid} limit 1
    </select>

    <select id="queryUserUidLikeNameFromMapper" resultMap="UserMap">
        select * from stray_animals_management_system.user u where user_name like concat('%', #{uid}, '%')
    </select>

</mapper>